# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Environment Variables
.env

# Database
db.sqlite3

# Media & Static
media/
staticfiles/

# IDE
.vscode/
.idea/

# Git
.git