.input-group{

    margin-bottom:22px;

}

.input-group label{

    display:block;

    margin-bottom:8px;

    font-weight:500;

}

.input-group input{

    width:100%;

    height:56px;

    padding:0 18px;

    border-radius:14px;

    border:1px solid var(--border);

    background:white;

    transition:var(--transition);

    font-size:15px;

}

.input-group input:focus{

    border-color:var(--primary);

    box-shadow:
    0 0 0 5px rgba(37,99,235,.08);

}

.input-group small{

    color:var(--danger);

    display:block;

    margin-top:6px;

}