.flex{

    display:flex;

}

.grid{

    display:grid;

}

.center{

    display:flex;

    justify-content:center;

    align-items:center;

}

.text-center{

    text-align:center;

}

.hidden{

    display:none;

}

.w-100{

    width:100%;

}

.mt-2{

    margin-top:20px;

}

.mt-3{

    margin-top:30px;

}

.mt-4{

    margin-top:40px;

}